body{
    background-image: url("images/bg img2.jpg");
    background-size: cover;
    opacity: 95%;
}
@font-face{
    font-family: sora;
    src:  url(fonts/sora.ttf);
}
.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    font-family: 'sora';
    text-align: center;
}
.checked{
    color: orange;
}
.content{
    background-color: #e2d0c3;
    width: 450px;
    height: 450px;
    box-shadow: 0px 8px 60px -10px #ceb19c;
    border-radius: 10px;
    padding:70px;
    padding-top:5px;
}
.rating{
    display: flex;
    padding-left: 100px;
    transform: rotateY(180deg);
}
.rating input{
    display: none;
}
.rating label:before{
    display: block;
    cursor: pointer;
    width: 50px;
    background-color: #e2d0c3;
}
.rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 40px;
    color: #f5efeb;
}
.rating label:after{
    display: block;
    cursor: pointer;
    width: 50px;
    background-color: #e2d0c3;
}
.rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 40px;
    color: #3b291d;
    top: 0;
    opacity: 0;
    transition: .5s;
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    opacity: 1;
}
button{
    width:30%;
    padding: 10px 20px;
    margin: 15px 0;
    background-color: #966a4a; 
    border: 2px solid #3b291d;
    border-radius: 50px;
    color: #efe5db;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
    font-family: 'sora';
    }
textarea{
    background-color: #dbc5b6;
    background-image: url('images/comment.png');
    background-position:5px 5px;
    background-size:12%;
    background-repeat: no-repeat;
    padding-left: 70px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    width:100%;
    margin: 3px 0;
    box-sizing: border-box;
    border: 1px solid #3b291d;
    border-bottom: 5px solid #a37351;
    font-family: 'sora';
    }
